/*header css*/

header{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}

header > img{
    vertical-align: middle;
    width: 80px;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 50px;
    padding-left: 10px;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 60px
}

/*main css*/

main{
    background-color: rgba(246,248,249,255);
    padding: 20px;
    padding-top: 60px;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    border-radius: 1%;
}

.button_container{
    height: 70px;
    padding: 20px;
    padding-left: 50px;
    border-bottom: 5px solid rgba(246,248,249,255);
}

.add_task{
    background-color: rgba(71,173,241,255);
    color: white;
    border-radius: 7%;
    border: none;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.add_section{
    border-radius: 7%;
    background-color: rgba(255, 255, 255, 0);
    color: gray;
    border: 0.1px solid #d4d8dc;
    padding: 10px;
    margin-left:  10px;
    padding-left: 15px;
    padding-right: 15px;
}

.list_container{
    border-radius: 1%;
    padding: 50px;
}

.main_list{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 600;
    list-style-type: none;
    columns: 1;

}

.triangle::after{
    content: '\23F7';
}

.sub_list{
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
    list-style-type:none;
    margin-bottom: 40px;
    vertical-align: middle;
    line-height: 2.5;
}

.green_checkmark::after{
    border: 2px solid #65c2ac;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 1000;
    padding: 5px;
    color: #65c2ac;
    vertical-align: middle;
    content: '\2713';
}

.red_cross::after{
    border: 2px solid #e73b33;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 1000;
    padding: 5px;
    color: #e73b33;
    vertical-align: middle;
    content: '\2718';
}

.editorial::after{
    border-radius:5%;
    background-color: #45abea;
    color: white;
    font-size: large;
    padding: 10px;
    vertical-align: middle;
    content: "Editorial";
}

.q1_goals::after{
    border-radius:5%;
    background-color: #9c72e4;
    color: white;
    font-size: large;
    padding: 10px;
    vertical-align: middle;
    content: "Q1 Goals";
}

.recruiting::after{
    border-radius:5%;
    background-color:#64c0a9;
    color: white;
    font-size: large;
    padding: 10px;
    vertical-align: middle;
    content: "Recruiting";
}

.mobile::after{
    border-radius:5%;
    background-color:#f29e33;
    color: white;
    font-size: large;
    padding: 10px;
    vertical-align: middle;
    content: "Mobile";
}
  
*{
    box-sizing: border-box;
    margin: 0;
}